body {
Background-color: rgb(22, 133, 23);
Border-radius: 16px;
Font-family: sans-serif;
Margin-left: auto;
Margin-right: auto;
Max-width: 1024px;
Min-width: 256px;
Padding-top: 8px;
Padding-bottom: 24px;
Padding-left: 24px;
Padding-right: 24px;
}
